$primary1:hsl(225, 100%, 94%);
$primary2:hsl(245, 75%, 52%);
$secondary1:hsl(225, 100%, 98%);
$secondary2:hsl(224, 23%, 55%);
$secondary3:hsl(223, 47%, 23%);
$text:'Red Hat Display', sans-serif;

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img{
    width: 100%;
    height: auto;
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $text;
    background-color: $primary1;
}

main{
    width: 28.125rem;
    height: 43.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
}

.text-area{
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-area{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: $secondary1;
    border-radius: 1rem;
    align-self: stretch;
    padding: 1.5rem 1.5rem;
    margin-bottom: 2rem;
}

.plan-icon{
    grid-column: 1 / 2 ;
    grid-row: 1 / 3 ;
    place-self: center;
}

.plan-name{
    grid-column: 2 / 3 ;
    grid-row: 1 / 2;
    font-weight: 900;
    margin: 0;
    margin-top: .2rem;
    margin-left: 1.35rem;
}

.plan-prize{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: $secondary2;
    margin: 0;
    margin-top: .1rem;
    margin-left: 1.35rem;
}
.plan-link{
    grid-column: 3 / 4 ;
    grid-row: 1 / 3;
    place-self: center;
    color: $primary2;
    font-weight: 900;
    &:hover{
        text-decoration: none;
        color: transparentize($primary2,0.4);
    }
}

.align-text-center{
    text-align: center;
}

.card-parag.card-header{
    margin: 0;
    padding: 0;
}

.card-header{
    font-weight: 900;
    margin-top: 3rem;

}

a{
    margin: 0;
    padding: 0;
}

.card-parag{
    line-height: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
    color: $secondary2;
}

.btn-submit{
    font-weight: 700;
    text-decoration: none;
    background-color: $primary2;
    color: white;
    padding: 1rem 1rem;
    border-radius: .5rem;
    align-self: stretch;
    text-align: center;
    margin-bottom: 2.5rem;
    box-shadow: 0 1.5rem 2rem transparentize($primary2,0.8);
    &:hover{
        background-color: transparentize($primary2,0.4);
    }
}

.btn-cancel{
    text-decoration: none;
    font-weight: 700;
    color: $secondary2;
    &:hover{
        color: black;
    }
}


@media (max-width:470px){
    main{
        width: 95%;
    }
}

@media (max-width:385px){
    main{
        font-size: 80%;
        height: max-content;
    }

    .btn-cancel{
        padding-bottom: 2rem;
    }
}