html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Red Hat Display", sans-serif;
  background-color: #e0e8ff;
}

main {
  width: 28.125rem;
  height: 43.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}

.text-area {
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  background-color: #f5f7ff;
  border-radius: 1rem;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  padding: 1.5rem 1.5rem;
  margin-bottom: 2rem;
}

.plan-icon {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  place-self: center;
}

.plan-name {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  font-weight: 900;
  margin: 0;
  margin-top: .2rem;
  margin-left: 1.35rem;
}

.plan-prize {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  color: #7280a7;
  margin: 0;
  margin-top: .1rem;
  margin-left: 1.35rem;
}

.plan-link {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  place-self: center;
  color: #3829e0;
  font-weight: 900;
}

.plan-link:hover {
  text-decoration: none;
  color: rgba(56, 41, 224, 0.6);
}

.align-text-center {
  text-align: center;
}

.card-parag.card-header {
  margin: 0;
  padding: 0;
}

.card-header {
  font-weight: 900;
  margin-top: 3rem;
}

a {
  margin: 0;
  padding: 0;
}

.card-parag {
  line-height: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
  color: #7280a7;
}

.btn-submit {
  font-weight: 700;
  text-decoration: none;
  background-color: #3829e0;
  color: white;
  padding: 1rem 1rem;
  border-radius: .5rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  text-align: center;
  margin-bottom: 2.5rem;
  -webkit-box-shadow: 0 1.5rem 2rem rgba(56, 41, 224, 0.2);
          box-shadow: 0 1.5rem 2rem rgba(56, 41, 224, 0.2);
}

.btn-submit:hover {
  background-color: rgba(56, 41, 224, 0.6);
}

.btn-cancel {
  text-decoration: none;
  font-weight: 700;
  color: #7280a7;
}

.btn-cancel:hover {
  color: black;
}

@media (max-width: 470px) {
  main {
    width: 95%;
  }
}

@media (max-width: 385px) {
  main {
    font-size: 80%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .btn-cancel {
    padding-bottom: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */