:root{
    --vdgb: hsl(217, 19%, 35%);
    --ddb: hsl(214, 17%, 51%);
    --gb: hsl(212, 23%, 69%);
    --lgb: hsl(210, 46%, 95%);
}

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
}

body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
font-family:'Manrope', sans-serif;
background: var(--lgb);

}


.container{
    display: grid;
    width: 60rem;
    height: 20rem;
    grid-template-columns: 1fr 2fr;
    background: white ;
    border-radius: 1rem;
    overflow: hidden;
}


.left-column{
    height: 20rem;
}

.right-column{
    height: 20rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 2.5rem;
    gap: 1rem;

}

.personal-info{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.profile-picture{
    height: 30%;
    border-radius: 50%;
}

.share-icon{
    width: 1rem;
    height: 1rem;
    margin-left: 9rem;
    margin-top: 1rem;
    box-sizing: unset;
    border-radius: 50%;
    padding: 0.5rem;
    background: var(--lgb);

}

.personal-info-text{
    margin-top: 0.4rem;
}

.info p{
    line-height: 1.4;
    padding-top: 1rem;
    font-size: 1rem;
    padding-right: 1rem;
    color: var(--ddb);
    
}

.info h1{
    font-size: 1.6rem;
    color: var(--vdgb);
}

.name{
    color: var(--vdgb);
    font-weight: 700;
}

.date{
    color: var(--ddb);
}