$text: "Josefin Sans", sans-serif;
$primary1: hsl(0, 36%, 70%);
$primary2: hsl(0, 93%, 68%);
$neutral1: hsl(0, 6%, 24%);
$grad1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$grad2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $text;
  height: 100vh;
}

.hero-mobile {
  display: none;
}

main {
  width: 90rem;
  height: 50rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row: 1fr 1fr;
}

.text-area {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  padding: 4rem 14rem 0 10rem;
  background-image: url(/images/bg-pattern-desktop.svg), $grad1;
}

.input-area {
  display: grid;
}

span {
  display: block;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 10rem;
}

.lighter-weight {
  font-weight: 300;
  color: $primary1;
}

p {
  color: $primary1;
  line-height: 1.75rem;
  padding-bottom: 3rem;
}

.logo-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 10rem;
  position: absolute;
  z-index: 2;
  margin-left: 10rem;
  margin-top: 3.5rem;
}

.hero-container {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: auto;
}

input {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border: 0.0625rem solid transparentize($primary1, 0.5);
  color: $primary1;
  background: transparentize(#f7cfcf, 1);
  padding: {
    top: 1rem;
    bottom: 0.85rem;
  }
  border-radius: 2rem;
  &:focus-visible,
  &:focus {
    outline: none;
  }
}

.placeholder-position {
  padding-left: 1.5rem;
}

.arrow-container {
  width: fit-content;
  background: $grad2;
  border-radius: 2rem;
  padding: 1rem 2.75rem 0.85rem 2.75rem;

  &:hover {
    background: #f7cfcf;
  }
}

a {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: end;
}

@media (max-width: 621px) {
  body {
    height: initial;
  }

  .hero-container {
    display: none;
  }
  .hero-mobile {
    display: block;
  }
  main {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .logo-container {
    position: initial;
    margin: 0;
    padding: 0;
    width: 30%;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .text-area {
    padding: 3.5rem 1.5rem 5rem 1.5rem;

    text-align: center;
  }

  h1 {
    margin: 0;
    display: initial;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  p {
    margin: 0 auto;
    font-size: 0.9rem;
  }

  input {
    padding: 0;
    font-size: 0.9rem;
    height: 85%;
  }

  .arrow-container {
    height: 85%;
    padding: 0.85rem 1.55rem;
  }
}
